{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi - Jobiz{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Liste des offres d'emploi</h1>
    <p>La liste des offres apparaîtra ici.</p>
{% endblock %} 